<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jk.mapper.OrderMapper">

	<select id="queryOrderList" parameterType="map" resultType="com.jk.model.Order">
		select orderId,orderName,buyerName,releaseTime,orderStatus,partinNum,totalNum,avgPrice,settlementPrice,avgTransactionPrice,transactionPrice from  t_order where 1 =  1
			<include refid="queryWhere"></include>
			limit #{page},#{size}
	</select>

	<select id="queryCount" parameterType="map" resultType="int">
		select count(1) from t_order where 1 =  1
		<include refid="queryWhere"></include>
	</select>

	<select id="findLists" resultType="com.jk.model.Order">
		select  * from  t_order where 1 =  1
		<include refid="queryWhere"></include>
	</select>

	<sql id="queryWhere">
		<if test="order.orderName != null and order.orderName != ''">
			and orderName like '%${order.orderName}%'
		</if>
		<if test="order.buyerName != null and order.buyerName != ''">
			and buyerName like '%${order.buyerName}%'
		</if>
		<if test="order.orderStatus != null and order.orderStatus != '' and order.orderStatus != -1">
			and orderStatus  =  #{order.orderStatus}
		</if>
	</sql>
</mapper>